In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import geoip2.database
import myLogReader as mlr
import re
import os
import sys
import datetime as dt

%matplotlib inline

## Automate - Read and Prep log data into DF

In [2]:
logsPath = '../data/logs'
geoLiteIPDBPath = '../data/GeoLite2-City_20181009/GeoLite2-City.mmdb'

#Create a myLogReader object
myLogReader = mlr.log()
#Open Reader
myLogReader.openReader(geoLiteIPDBPath)

In [3]:
df =  myLogReader.readLogs(logsPath,112)

../data/logs\u_ex171211.log
../data/logs\u_ex171212.log
../data/logs\u_ex171213.log
../data/logs\u_ex171214.log
../data/logs\u_ex171215.log
../data/logs\u_ex171216.log
../data/logs\u_ex171217.log
../data/logs\u_ex171218.log
../data/logs\u_ex171219.log
../data/logs\u_ex171220.log
../data/logs\u_ex171221.log
../data/logs\u_ex171222.log
../data/logs\u_ex171223.log
../data/logs\u_ex171224.log
../data/logs\u_ex171225.log
../data/logs\u_ex171226.log
../data/logs\u_ex171227.log
../data/logs\u_ex171228.log
../data/logs\u_ex171229.log
../data/logs\u_ex171230.log
../data/logs\u_ex171231.log
../data/logs\u_ex180101.log
../data/logs\u_ex180102.log
../data/logs\u_ex180103.log
../data/logs\u_ex180104.log
../data/logs\u_ex180105.log
../data/logs\u_ex180106.log
../data/logs\u_ex180107.log
../data/logs\u_ex180108.log
../data/logs\u_ex180109.log
../data/logs\u_ex180110.log
../data/logs\u_ex180111.log
../data/logs\u_ex180112.log
../data/logs\u_ex180113.log
../data/logs\u_ex180114.log
../data/logs\u_ex180115.log
../data/logs\u_ex180116.log
../data/logs\u_ex180117.log
../data/logs\u_ex180118.log
../data/logs\u_ex180119.log
../data/logs\u_ex180120.log
../data/logs\u_ex180121.log
../data/logs\u_ex180122.log
../data/logs\u_ex180131.log
../data/logs\u_ex180201.log
../data/logs\u_ex180202.log
../data/logs\u_ex180203.log
../data/logs\u_ex180204.log
../data/logs\u_ex180205.log
../data/logs\u_ex180206.log
../data/logs\u_ex180207.log
../data/logs\u_ex180208.log
../data/logs\u_ex180209.log
../data/logs\u_ex180210.log
../data/logs\u_ex180211.log
../data/logs\u_ex180212.log
../data/logs\u_ex180213.log
../data/logs\u_ex180214.log
../data/logs\u_ex180215.log
../data/logs\u_ex180216.log
../data/logs\u_ex180217.log
../data/logs\u_ex180218.log
../data/logs\u_ex180219.log
../data/logs\u_ex180220.log
../data/logs\u_ex180221.log
../data/logs\u_ex180222.log
../data/logs\u_ex180223.log
../data/logs\u_ex180224.log
../data/logs\u_ex180225.log
../data/logs\u_ex180226.log
../data/logs\u_ex180227.log
../data/logs\u_ex180228.log
../data/logs\u_ex180301.log
../data/logs\u_ex180302.log
../data/logs\u_ex180303.log
../data/logs\u_ex180304.log
../data/logs\u_ex180305.log
../data/logs\u_ex180306.log
../data/logs\u_ex180307.log
../data/logs\u_ex180308.log
../data/logs\u_ex180309.log
../data/logs\u_ex180310.log
../data/logs\u_ex180311.log
../data/logs\u_ex180312.log
../data/logs\u_ex180313.log
../data/logs\u_ex180314.log
../data/logs\u_ex180315.log
../data/logs\u_ex180316.log
../data/logs\u_ex180317.log
../data/logs\u_ex180318.log
../data/logs\u_ex180319.log
../data/logs\u_ex180320.log
../data/logs\u_ex180321.log
../data/logs\u_ex180322.log
../data/logs\u_ex180323.log
../data/logs\u_ex180324.log
../data/logs\u_ex180325.log
../data/logs\u_ex180326.log
../data/logs\u_ex180327.log
../data/logs\u_ex180328.log
../data/logs\u_ex180329.log
../data/logs\u_ex180330.log
../data/logs\u_ex180331.log
../data/logs\u_ex180401.log
../data/logs\u_ex180402.log
../data/logs\u_ex180403.log
../data/logs\u_ex180404.log
../data/logs\u_ex180405.log
../data/logs\u_ex180406.log
../data/logs\u_ex180407.log
../data/logs\u_ex180408.log
../data/logs\u_ex180409.log

In [4]:
#Close Reader
myLogReader.closeReader()

In [8]:
df.head()

,client-ip-unique-count,cs-username-unique-count,client-connections-count,time-taken(ms)-sum,Chrome-count,Firefox-count,Other-count,Safari-count,Desktop-count,Mobile-count
calendar-year-week,,,,,,,,,,
2017-50,925,415,89497,52520170.0,38500,7784,27741,15472,80440,9057
2017-51,866,386,81378,44703569.0,39664,6585,21274,13855,72925,8453
2017-52,475,179,30843,14199684.0,9978,553,14279,6033,27735,3108
2018-1,769,354,71528,42663674.0,31666,8049,19512,12301,64710,6818
2018-2,920,441,90093,63904084.0,38238,6166,23249,22440,79099,10994

#### 2- Automate load logs and aggregate data

In [6]:
df.to_csv('../data/AggregatedData_112_days.csv')

In [ ]:
pd.concat([df_devicecount,df_browsercount,df_totalconnections_timetaken,df_uniqueUsername,df_uniqueIP],axis=1)

In [ ]:
df.info()

In [ ]:
df['client-ip'].describe()

In [ ]:
df.loc[:, df.dtypes == object].describe()

In [ ]:
df.isna().sum()

In [ ]:
test_df =  myLogReader.readLog('../data/logs/u_ex180131.log')

myLogReader.deriveClientCountry(test_df)

In [ ]:
#df_ip = groupbyCalendarYearWeek_ClientIp(df)
df_ip